body {
    /* font-family: 'Arial', sans-serif; */
    font-family: 'lato','Karla', 'Helvetica Neue', Helvetica, sans-serif;
    /* font-family: 'Georgia', serif; */
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
}

nav {
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    /* float: left; */
    color: black;
}

h1, h3, p, .recent_posts, .my_list, .poem {
    margin-left: 25%;
    margin-right: 25%;
}

.about {
    margin-left : 20%;
    margin-right: 0%;
    text-align: justify;
}

h1 {
    padding-top: 30px;
}

ul.aboutTech {
    list-style-type: none;
}

.my_list li {
    margin-bottom: 15px; 
}

.my_list li a{
    text-decoration: none;
}

.tag {
    display: inline-block;
    background-color: #ccc;
    color: #333;
    padding: 5px 10px;
    margin-left: 1px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.quote-text {
    font-style: italic;
    color: #555;
    border-left: 4px solid #3498db;
    padding: 15px;
}

.highlight {
    color: #000000;
    font-weight: 500; 
    border-left: 0px solid #000000;
    display: inline-block;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}